/* result-styles.css */
body.result-page {
    background-color: #f0f8ff;
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
  }
  h1.result-text {
    font-size: 28px;
    color: #8C2155;
    border: 2px solid #8C2155;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFDAD6;
    white-space: pre-line; /* Allows line breaks when using \n in JavaScript */
  }

   /*other devices configuration for appearance */
   @media only screen and (max-width: 600px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    h1, form, .result-text {
      text-align: center;
    }
  }

  img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    border-radius: 10px;
  }